:root {
  --heavyai-vega-toolbar-height: calc(36px + var(--jp-border-width));
  --heavyai-sqleditor-toolbar-min-height: 52px;
}

.heavyai-ErrorMessage {
  background-color: var(--jp-rendermime-error-background);
  color: var(--jp-ui-font-color1);
  white-space: pre-wrap;
}

.heavyai-HeavyAIVegaViewer {
  height: 100%;
  width: 100%;
}

.heavyai-HeavyAIVega {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.heavyai-HeavyAIGrid-content {
  height: 100%;
}

.heavyai-RenderedHeavyAISQLEditor .heavyai-HeavyAISQLEditor {
  height: 100%;
}

.jp-Cell .jp-OutputArea-output.heavyai-RenderedHeavyAISQLEditor {
  min-height: calc(384px + var(--heavyai-sqleditor-toolbar-min-height));
}

.heavyai-HeavyAISQLEditor .p-SplitPanel {
  height: 100%;
}

.heavyai-HeavyAIGrid {
  min-height: 128px;
}

.heavyai-HeavyAI-toolbar {
  justify-content: right;
  align-items: center;
  padding: 12px;
  display: flex;
  flex-direction: row;
  color: var(--jp-ui-font-color1);
  border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  box-shadow: var(--jp-toolbar-box-shadow);
  background: var(--jp-toolbar-background);
  min-height: var(--heavyai-sqleditor-toolbar-min-height);
}

.heavyai-HeavyAIVegaViewer .jp-Toolbar.heavyai-HeavyAI-toolbar {
  height: var(--heavyai-vega-toolbar-height) !important;
}

.heavyai-HeavyAI-toolbar .jp-Toolbar-item {
  height: auto;
}

.heavyai-HeavyAI-toolbar .jp-Editor {
  flex: 1 1 auto;
  font-size: 1em;
  font-family: monospace;
  background-color: var(--jp-layout-color0);
  border: var(--jp-border-width) solid var(--jp-border-color0);
  height: 100%;
}

.heavyai-HeavyAI-toolbar .jp-Editor.jp-mod-focused {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
  box-shadow: var(--jp-input-box-shadow);
  background-color: var(--jp-cell-editor-active-background);
}

.heavyai-HeavyAI-toolbar .jp-Editor .CodeMirror {
  width: 100%;
}

.heavyai-HeavyAI-logo {
  background-image: url('heavyai-logo.ico');
  background-size: 100%;
}

.p-Menu-itemIcon.heavyai-HeavyAI-logo {
  background-size: 75%;
}

#setting-editor .heavyai-HeavyAI-logo {
  background-repeat: no-repeat;
  background-position: center;
}
