.omnisci-ErrorMessage {
  background-color: var(--jp-rendermime-error-background);
  color: var(--jp-ui-font-color1);
  white-space: pre-wrap;
}

.omnisci-OmniSciVegaViewer-content {
  height: 100%;
  width: 100%;
}

.omnisci-OmniSciVega {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.omnisci-OmniSciSQLEditor {
  min-height: 256px;
  min-width: 256px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.omnisci-OmniSciGrid {
  height: calc(100% - 35px);
  width: 100%;
  overflow: auto;
}

.omnisci-OmniSciGrid-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.jp-Toolbar.omnisci-OmniSci-toolbar {
  align-items: center;
  justify-content: right;
  height: 35px !important;
}

.jp-Toolbar.omnisci-OmniSci-toolbar .jp-Editor {
  flex-grow: 1;
  font-size: 1em;
  font-family: monospace;
  background-color: var(--jp-layout-color0);
}

.jp-Toolbar.omnisci-OmniSci-toolbar .jp-Editor.jp-mod-focused {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
  box-shadow: var(--jp-input-box-shadow);
  background-color: var(--jp-cell-editor-active-background);
}

.jp-Toolbar.omnisci-OmniSci-toolbar .jp-Editor .CodeMirror {
  width: 100%;
}

.omnisci-OmniSci-logo {
  background-image: url('omnisci-logo.svg');
  background-size: 100%;
}

#setting-editor .omnisci-OmniSci-logo {
  background-repeat: no-repeat;
  background-position: center;
}
