on: [push]
name: 'Javascript'
jobs:
  dev:
    runs-on: ubuntu-latest

    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: yarn
      - name: Build Typescript
        run: yarn run build
      - name: Run prettier
        run: yarn run prettier --check
